@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  /*color palette*/
  --bg-color: #ffffff;
  --primary-color: #000000;
  --color4: #757575;
  --color5: #e6e6e6;
  --accent-color: #fbff1d;

  /*typography*/
  --header-font: Barrio, sans-serif;
  --text-font: Lato, sans-serif;
  --link-style: uppercase;

  /*margins and paddings*/
  --margin: 2rem;
  --double-margin: calc(var(--margin) * 2);
  --half-margin: calc(var(--margin) / 2);

  /*shadows*/
  --shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*---------- NAVIGATION ----------*/

/*---------- FOOTER ----------*/
footer {
  background-color: var(--primary-color);
  padding: var(--margin);
  display: grid;
  align-items: center;
  justify-items: center;
  gap: var(--half-margin);
}
footer h5 {
  display: none;
}
#FTlogo {
  max-width: 2rem;
}

#footer-SoMe {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
/*---------- GENERAL SETTINGS ----------*/
body {
  margin: 0;
}

main {
  margin: var(--margin); /*doesn't fit with all pages*/
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/*---------- INDEX / LANDING PAGE ----------*/

.index-body {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.index-logo-container {
  max-width: 50%;
  margin: var(--margin);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.index-page-logo {
  max-width: 100%;
}

.index-h1 {
  font-family: var(--header-font);
  font-size: 2.8em;
  width: 70%;
  text-align: center;
}

/*---------- BUTTONS ----------*/

.yellow-button {
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--accent-color);
  width: 8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: var(--margin);
  padding-top: var(--half-margin);
  padding-bottom: var(--half-margin);
  margin: var(--half-margin);
  box-shadow: var(--shadow);
}

/*---------- SIDE ARROW ----------*/

.side-arrow {
  margin: var(--half-margin);
}
/*---------- ABOUT PAGE ----------*/

/*---------- PRODUCT LIST ----------*/

/*---------- PRODUCT PAGE ----------*/

/*---------- EVENT LIST ----------*/
#event-list h2,
#event-list h3,
#event-list h4 {
  margin: 0;
  padding: 0;
}
#event-list h2 {
  font-family: var(--header-font);
  font-size: 2rem;
}

#event-list h3 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 1.2rem;
}
#event-list h4 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 1rem;
}
#event-list main {
  gap: var(--double-margin);
}

.current-event-container {
  display: grid;
  row-gap: var(--half-margin);
}
.current-event-container h3:first-of-type {
  grid-row: 1/2;
}
.current-event-container h3:last-of-type {
  justify-self: right;
}
.current-event-container img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;

  box-shadow: var(--shadow);

  grid-row: 4/5;
}
.current-event-container h2 {
  grid-row: 2/3;
}

.current-event-container a {
  justify-self: center;
}

.past-events-container {
  margin: 0 var(--half-margin);
  display: grid;
  gap: var(--margin);
}

.event-container {
  display: grid;
  row-gap: var(--half-margin);
}
.event-container img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;

  box-shadow: var(--shadow);
  justify-self: center;
}

.event-container a {
  justify-self: center;
}
/*---------- EVENT PAGE ----------*/
#event-page {
  margin: 0;
}

#event-page main {
  margin: var(--double-margin) 0;
  display: grid;
  justify-items: left;
  gap: var(--half-margin);
}
#event-page h1,
#event-page h3,
#event-page h4,
#event-page p {
  padding: 0;
  margin: 0 var(--margin);
}

#event-page h3,
#event-page h4 {
  font-family: var(--text-font);
  font-weight: 700;
}

#event-page h1 {
  font-family: var(--header-font);

  grid-row: 3/4;
}

#event-page h3 {
  grid-row: 2/3;
}
#event-page p {
  font-family: var(--text-font);
}

.event-image {
  max-width: 100%;
  aspect-ratio: 27/35;
  object-fit: cover;
  margin: var(--margin) 0;

  box-shadow: var(--shadow);
}

/*---------- MEDIA QUERIES ----------*/
