@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  /*color palette*/
  --bg-color: #ffffff;
  --primary-color: #000000;
  --color4: #757575;
  --color5: #e6e6e6;
  --accent-color: #fbff1d;

  /*typography*/
  --header-font: Barrio, sans-serif;
  --text-font: Lato, sans-serif;
  --link-style: uppercase;

  /*margins and paddings*/
  --margin: 2rem;
  --double-margin: calc(var(--margin) * 2);
  --half-margin: calc(var(--margin) / 2);
}

/*GENERAL SETTINGS*/
body {
  margin: 0;
}
/*NAVIGATION*/

/*FOOTER*/
footer {
  background-color: var(--primary-color);
  padding: var(--margin);
  display: grid;
  align-items: center;
  justify-items: center;
  gap: var(--half-margin);
}
footer h5 {
  display: none;
}
#FTlogo {
  max-width: 2rem;
}

#footer-SoMe {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
/*HOME PAGE*/

/*ABOUT PAGE*/

/*PRODUCT LIST*/

/*PRODUCT PAGE*/

/*EVENT LIST*/

/*EVENT PAGE*/

/* MEDIA QUERIES */
