@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  /*color palette*/
  --bg-color: #ffffff;
  --primary-color: #000000;
  --color4: #757575;
  --color5: #e6e6e6;
  --accent-color: #fbff1d;

  /*typography*/
  --header-font: Barrio, sans-serif;
  --text-font: Lato, sans-serif;
  --link-style: uppercase;

  /*margins and paddings*/
  --margin: 2rem;
  --double-margin: calc(var(--margin) * 2);
  --half-margin: calc(var(--margin) / 2);

  /*shadows*/
  --shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*---------- NAVIGATION ----------*/

/*---------- FOOTER ----------*/
footer {
  background-color: var(--primary-color);
  padding: var(--margin);
  display: grid;
  align-items: center;
  justify-items: center;
  gap: var(--half-margin);
}
footer h5 {
  display: none;
}
#FTlogo {
  max-width: 2rem;
}

#footer-SoMe {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
/*---------- GENERAL SETTINGS ----------*/
body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin: var(--margin); /*doesn't fit with all pages*/
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

img {
  max-width: 100%;
}

h2 {
  font-family: var(--header-font);
  font-size: 2rem; /*I think it's better if we use rem instead of %*/
}

h3 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-family: var(--text-font);
}
/*---------- INDEX / LANDING PAGE ----------*/

.index-body {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.index-logo-container {
  max-width: 50%;
  margin: var(--margin);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.index-page-logo {
  max-width: 100%;
}

.index-h1 {
  font-family: var(--header-font);
  font-size: 2.8em;
  width: 70%;
  text-align: center;
}

/*---------- BUTTONS ----------*/

.yellow-button {
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--accent-color);
  width: 8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: var(--margin);
  padding-top: var(--half-margin);
  padding-bottom: var(--half-margin);
  margin: var(--half-margin);
  box-shadow: var(--shadow);
}

.black-button {
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--bg-color);
  background-color: var(--primary-color);
  width: 8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: var(--margin);
  padding-top: var(--half-margin);
  padding-bottom: var(--half-margin);
  margin: var(--half-margin);
  box-shadow: var(--shadow);
}
/*---------- SIDE ARROW ----------*/

.side-arrow {
  margin-bottom: var(--half-margin);
  justify-self: left;
}

/*---------- PORTFOLIO ----------*/

.main-portfolio {
  margin: 0;
  justify-items: left;
}

.portfolio-video-container {
  background-image: url(../images/placeholder-image.jpg);
  aspect-ratio: 9/16;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: absolute; */
}

.portfolio-categories-container {
  margin: var(--margin);
  width: calc(100% - (2 * var(--margin)));
}

.portfolio-categories {
  margin-top: var(--half-margin);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--half-margin);
  width: 100%;
}

.portfolio-category {
  background-color: var(--accent-color);
  text-decoration: none;
  color: var(--primary-color);
  aspect-ratio: 16/4;
  max-width: 100%;
  font-family: var(--text-font);
  font-weight: bolder;
  /* text-transform: uppercase; */
  font-size: 120%;
}

.portfolio-events-container {
  margin: var(--margin);
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.portfolio-events-container h2 {
  margin: var(--half-margin);
}

.featured-event-image {
  aspect-ratio: 16/9;
  object-fit: cover;
  margin-top: var(--half-margin);
}

.event-credits {
  text-align: right;
  z-index: 2;
}

.portfolio-events-container .yellow-button {
  position: absolute;
  justify-self: center;
  top: 92%;
  margin: 0;
}

.portfolio-instagram-container {
  margin: var(--margin);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.portfolio-instagram-container h4 {
  margin-top: var(--half-margin);
}

.portfolio-instagram-container h4 a {
  font-family: var(--text-font);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color4);
}

.portfolio-instagram-container img {
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-top: var(--half-margin);
}

/*---------- PORTFOLIO - LIST ----------*/

.main-portfolio-list {
  margin: 0;
}

.portfolio-list-card {
  max-width: 100%;
  position: relative;
}

.portfolio-list-link {
  text-decoration: none;
}

.portfolio-list-image {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  z-index: 1;
}

.portfolio-list-title {
  font-family: var(--text-font);
  font-weight: 900;
  text-transform: lowercase;
  color: var(--primary-color);
  font-size: 2.5em;
  z-index: 3;
  margin: 0;
  position: absolute;
  top: 0%;
}

.portfolio-list-category {
  font-family: var(--text-font);
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 400;
  z-index: 3;
  margin: 0;
  position: absolute;
  top: 10%;
}

.portfolio-list-overlay {
  aspect-ratio: 1/1;
  background-color: var(--accent-color);
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 2;
  opacity: 50%;
}

/*---------- PORTFOLIO - ARTWORK ----------*/

.main-portfolio-artwork {
  justify-items: left;
}

.artwork-container {
  max-width: 100%;
  position: relative;
}

.artwork-image {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.artwork-title {
  font-family: var(--header-font);
  background-color: var(--accent-color);
  width: fit-content;
  padding: 0.2em;
  position: absolute;
  top: 62%;
  left: 5%;
}

.artwork-category {
  font-family: var(--text-font);
  margin: var(--margin);
}

.artwork-description {
  margin: var(--margin);
}

/*---------- ABOUT PAGE ----------*/

/*---------- EVENT LIST ----------*/
#event-list h2,
#event-list h3,
#event-list h4 {
  margin: 0;
  padding: 0;
}
#event-list h2 {
  font-family: var(--header-font);
  font-size: 2rem;
}

#event-list h3 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 1.2rem;
}
#event-list h4 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 1rem;
}
#event-list main {
  gap: var(--double-margin);
}

.current-event-container {
  display: grid;
  row-gap: var(--half-margin);
}
.current-event-container h3:first-of-type {
  grid-row: 1/2;
}
.current-event-container h3:last-of-type {
  justify-self: right;
}
.current-event-container img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;

  box-shadow: var(--shadow);

  grid-row: 4/5;
}
.current-event-container h2 {
  grid-row: 2/3;
}

.current-event-container a {
  justify-self: center;
}

.past-events-container {
  margin: 0 var(--half-margin);
  display: grid;
  gap: var(--margin);
}

.event-container {
  display: grid;
  row-gap: var(--half-margin);
}
.event-container img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;

  box-shadow: var(--shadow);
  justify-self: center;
}

.event-container a {
  justify-self: center;
}
/*---------- EVENT PAGE ----------*/
#event-page {
  margin: 0;
}

#event-page main {
  margin: var(--double-margin) 0;
  display: grid;
  justify-items: left;
  gap: var(--half-margin);
}
#event-page h1,
#event-page h3,
#event-page h4,
#event-page p {
  padding: 0;
  margin: 0 var(--margin);
}

#event-page h3,
#event-page h4 {
  font-family: var(--text-font);
  font-weight: 700;
}

#event-page h1 {
  font-family: var(--header-font);

  grid-row: 3/4;
}

#event-page h3 {
  grid-row: 2/3;
}
#event-page p {
  font-family: var(--text-font);
}

.event-image {
  max-width: 100%;
  aspect-ratio: 27/35;
  object-fit: cover;
  margin: var(--margin) 0;

  box-shadow: var(--shadow);
}

/*---------- SHOP LIST ----------*/
#shop-list {
  margin: 0;
  background-color: var(--color5);
}

#shop-list main {
  display: grid;
  gap: var(--margin);
}
#shop-list h1 {
  font-family: var(--header-font);
}
.product-link {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--half-margin);

  text-decoration: none;
  color: var(--primary-color);
}
.product-card img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: solid var(--accent-color) 0.2rem;

  box-shadow: var(--shadow);

  grid-column: 1/3;
  justify-self: center;
}

.product-card h3,
.product-card h4 {
  margin: 0;
  padding: 0;

  font-family: var(--text-font);
  font-weight: 700;
  text-transform: var(--link-style);
  font-size: 0.7rem;
}
.product-price {
  justify-self: right;
}
/*---------- SHOP PRODUCT ----------*/
.shop-product {
  margin: 0;
  background-color: var(--color5);
}

.artwork-image {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: var(--shadow);
}

.shop-product main {
  display: grid;
  gap: var(--half-margin);
  justify-items: left;
}
.shop-product main a:last-of-type {
  justify-self: center;
}
/*---------- SHOP PURCHASE ----------*/

/*---------- MEDIA QUERIES ----------*/
